table {
  border-collapse: collapse;
  border: none;
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
  margin-left: 15px;
}

caption {
  caption-side: bottom;
  padding: 10px;
  font-weight: bold;
}

thead,
tfoot {
  background-color: #f4c4de;
}

tr {
  color: rgb(73, 49, 40);
}

th,
td {
  border: 1px solid rgb(155, 112, 82);
  padding: 8px 10px;
}

td:last-of-type {
  text-align: center;
}

tfoot th {
  text-align: right;
}

tfoot td {
  font-weight: bold;
}

button {
  margin: 30px 15px 40px 15px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  color: rgb(73, 49, 40);
  background-color: #f4c4de;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  font-size: 0.9rem;
}
